<div class="app-menu">{{appName}}</div>
<div class="clock">{{dmSettings.date | date:'h:mm'}}</div>
<div class="device-menu-tab" (click)="toggleDeviceMenu()">
	<img [src]="'assets/ui/' + bluetoothState.icon" *ngIf="bluetoothState.state > 1" style="margin-right: 3px">
	<img [src]="'assets/ui/' + wifiState.icon" *ngIf="wifiState.state > 0" style="margin-right: -3px">
	<img src="assets/ui/rssi-4.png">
	<img [src]="batteryIconUrl">
</div>

<div class="device-menu" [ngClass]="{open: isDeviceMenuOpen}" *ngIf="isReady">
	<!-- Date -->
	<div class="row">{{dmSettings.date | date:'fullDate'}}</div>

	<!-- Battery -->
	<div class="row">Battery: {{dmSettings.batteryLevel}}%</div>

	<!-- Wi-Fi -->
	<div class="row" (click)="toggleSubMenu('wifi')">
		<div class="label">Wi-Fi</div>
		<div *ngIf="wifiState.state == 1" class="onyx-spinner onyx-dark"></div>
		<div class="flex"></div>
		<div class="status">{{wifiState.state >= 3 ? connectedNetworkSSID : wifiState.title}}</div>
	</div>
	<div class="sub-menu" *ngIf="showWifiSubMenu" [@fadeIn]="showWifiSubMenu">
		<div class="sub-row" (click)="toggleWifiState()">Turn {{wifiState.state > 0 ? 'off' : 'on'}} Wi-Fi</div>
		<div class="sub-row" *ngFor="let network of wifiNetworks" (click)="connectToWifiNetwork(network)" [@fadeIn]="wifiNetworks.length > 0">
			<div class="label" [ngClass]="{'connected':network.connected}">{{network.ssid}}<br><span class="connecting" *ngIf="network.connecting">CONNECTING...</span></div>
			<div class="flex"></div>
			<img *ngIf="network.connected" src="assets/enyo/images/wifi/checkmark.png">
			<img *ngIf="network.locked" src="assets/ui/lock.png">
			<img [src]="'assets/ui/wifi-' + network.strength + '.png'">
		</div>
		<div class="sub-row">Wi-Fi Preferences</div>
	</div>

	<!-- VPN -->
	<div class="row" (click)="toggleSubMenu('vpn')">
		<div class="label">VPN</div>
		<div class="flex"></div>
		<div class="status">Off</div>
	</div>
	<div class="sub-menu" *ngIf="showVPNSubMenu" [@fadeIn]="showVPNSubMenu">
		<div class="sub-row">VPN Preferences</div>
	</div>

	<!-- Bluetooth -->
	<div class="row" (click)="toggleSubMenu('bluetooth')">
		<div class="label">Bluetooth</div>
		<div *ngIf="bluetoothState.state == 1" class="onyx-spinner onyx-dark" style="height: 24px; width: 24px;"></div>
		<div class="flex"></div>
		<div class="status">{{bluetoothState.state >= 3 ? connectedBluetoothDevice : bluetoothState.title}}</div>
	</div>
	<div class="sub-menu" *ngIf="showBluetoothSubMenu" [@fadeIn]="showBluetoothSubMenu">
		<div class="sub-row" (click)="toggleBluetoothState()">Turn {{bluetoothState.state > 0 ? 'off' : 'on'}} Bluetooth</div>
		<div class="sub-row" *ngFor="let device of bluetoothDevices" (click)="connectToDevice(device)">
			<div class="label" [ngClass]="{'connected':device.connected}">
				{{device.name}}<br>
				<span class="connecting" *ngIf="device.connecting">CONNECTING...</span>
			</div>
			<div class="flex"></div>
			<img *ngIf="device.connected" src="assets/enyo/images/framework/checkmark.png" style="float:right">
		</div>
		<div class="sub-row" *ngIf="bluetoothState.state == 1">Turning Bluetooth On...</div>
		<div class="sub-row">Bluetooth Preferences</div>
	</div>

	<!-- Full Screen -->
	<div class="row last" (click)="goFullScreen()">Go Full Screen</div>
</div>

<div class="scrim" [ngClass]="{showing: isDeviceMenuOpen}" (click)="toggleDeviceMenu()"></div>