<div class="card" [ngClass]="{full: !isCardView, up: !isDown, noanimate: disableAnimation}" [style.transform]="dragOffset">
	<div class="overlay" [style.display]="isCardView ? 'block' : 'none'" (click)="viewFullScreen($event)" (touchstart)="touchStart($event)" (touchmove)="touchMove($event)" (touchend)="touchEnd($event)">
		<div class="header">
			<div class="title">{{config.title}}</div>
			<div class="btn-close">X</div>
		</div>
	</div>
	<div class="app-frame" [ngSwitch]="config.id" *ngIf="config.url == ''">
		<bluetooth-app *ngSwitchCase="'bluetooth'"></bluetooth-app>
		<browser-app *ngSwitchCase="'browser'"></browser-app>
		<phone-app *ngSwitchCase="'phone'"></phone-app>
		<screenlock-app *ngSwitchCase="'screenlock'"></screenlock-app>
		<wifi-app *ngSwitchCase="'wifi'"></wifi-app>
		<accounts-app *ngSwitchCase="'accounts'"></accounts-app>
		<backup-app *ngSwitchCase="'backup'"></backup-app>
		<updates-app *ngSwitchCase="'updates'"></updates-app>
		<exhibition-app *ngSwitchCase="'exhibition'"></exhibition-app>
		<vpn-app *ngSwitchCase="'vpn'"></vpn-app>
		<div *ngSwitchDefault>Default app</div>
	</div>
	<iframe class="app-frame" [src]="url" (loadend)="frameContentLoaded()" *ngIf="config.url != ''"></iframe>
</div>