<status-bar [appName]="appName"></status-bar>

<img class="corner top-left" src="assets/ui/top-left.png">
<img class="corner top-right" src="assets/ui/top-right.png">
<div class="justtype" [ngClass]="{hidden: !isCardView}">
	<div class="search-pill">
		<div>Just type...</div>
		<img src="assets/ui/search-button-launcher.png">
	</div>
	<!--<img src="assets/ui/search-pill.png">-->
</div>
<div #cardsContainer class="content" [ngClass]="{overview: !isCardView}" [scrollLeft]="scrollPosition" (scroll)="logScroll($event)">
	<app-card *ngFor="let app of apps; let i = index;" [id]="'app-'+app.id" [config]="app" [ngClass]="{overview: isCardView, move: isMoved && (i+1) != apps.length}" [isCardView]="isCardView" (onOpen)="viewFullScreen($event)" (onLaunch)="appLaunched()" (onClose)="closeApp($event)"></app-card>
</div>
<div class="quicklaunch" [ngClass]="{hidden: !isCardView}">
	<!--<div *ngFor="let app of quickLaunchApps" class="item">-->
		<img *ngFor="let app of quickLaunchApps" [src]="app.iconUrl" class="icon" (click)="openApp(app)">
	<!--</div>-->
</div>
<img class="corner bottom-left" src="assets/ui/bottom-left.png">
<img class="corner bottom-right" src="assets/ui/bottom-right.png">
<div class="navbar">
	<div></div>
	<div class="btn-home" (click)="handleHomeTapped()">Home</div>
	<div></div>
</div>

<app-launcher [ngClass]="{hidden: !isLauncherOpen}" (onOpenApp)="openAppFromLauncher($event)"></app-launcher>