<div class="enyo-unselectable" class="container">
  <div class="onyx onyx-toolbar onyx-toolbar-inline app-header">
    <img class="icon" src="assets/icons/textassist-64.png">
    Text Assist
  </div>
  <div class="content">

    <div class="onyx-groupbox">
      <div class="onyx-groupbox-header">Text Correction</div>
      <div class="flex-row">
        <div class="label">Auto-Capitalization</div>
        <enyo-toggle-button isActive="true"></enyo-toggle-button>
      </div>
      <div class="flex-row">
        <div class="label">Shortcuts</div>
        <enyo-toggle-button isActive="true"></enyo-toggle-button>
      </div>
      <div class="flex-row">
        <div class="label">Auto-Correction</div>
        <enyo-toggle-button isActive="true"></enyo-toggle-button>
      </div>
      <div class="flex-row">
        <div class="label">System Sound</div>
        EnyoSelect
      </div>
    </div>

    <div class="sub-text">
      Make a sound when typing is auto-corrected.
    </div>

    <enyo-button label="Edit User Dictionary" style="width: 100%"></enyo-button>

  </div>
</div>