<div class="enyo-unselectable" class="container">
  <div class="onyx onyx-toolbar onyx-toolbar-inline app-header">
    <img class="icon" src="assets/icons/screenlock-64.png">
    Screen & Lock
  </div>
  <div class="content">
    <div class="onyx-groupbox">
      <div class="onyx-groupbox-header">Screen</div>
      <div class="row" style="padding: 5px 0 10px 0">
        <div style="padding: 8px">Brightness</div>
        <enyo-slider></enyo-slider>
    </div>
    <div class="flex-row">
        <div>Turn off after</div>
        <div>SelectElement</div>
    </div>
  </div>

    <div class="onyx-groupbox">
      <div class="onyx-groupbox-header">Touchscreen</div>
      <div class="flex-row">
        <div>Haptic Feedback</div>
        <enyo-toggle-button></enyo-toggle-button>
    </div>
    <div class="flex-row">
        <div>Advanced Gestures</div>
        <enyo-toggle-button></enyo-toggle-button>
    </div>
  </div>

  <div class="sub-text">Any right to left swipe on the gesture area will perform the back gesture.</div>

  <div class="onyx-groupbox">
      <div class="onyx-groupbox-header">Secure Unlock</div>
      <div class="flex-row">
        <div>Off</div>
        <div>SelectElement</div>
    </div>
  </div>

  <div class="onyx-groupbox">
      <div class="onyx-groupbox-header">Lock Screen</div>
      <div class="flex-row">
        <div>Notifications</div>
        <enyo-toggle-button></enyo-toggle-button>
    </div>
    <div class="flex-row">
        <div>Voice Dialing</div>
        <enyo-toggle-button></enyo-toggle-button>
    </div>
  </div>

  <div class="sub-text">Access voice dialing even when your phone is locked.</div>

  <div class="onyx-groupbox">
      <div class="onyx-groupbox-header">Notifications</div>
      <div class="flex-row">
        <div>Blink Notifications</div>
        <enyo-toggle-button></enyo-toggle-button>
    </div>
  </div>
</div>