<div class="enyo-unselectable" class="container">
  <div class="onyx onyx-toolbar onyx-toolbar-inline" style="display:flex">
    <enyo-icon-button iconUrl="assets/enyo/images/browser/menu-icon-back.png"></enyo-icon-button>
    <enyo-icon-button iconUrl="assets/enyo/images/browser/menu-icon-forward.png"></enyo-icon-button>
    <label class="enyo-tool-decorator onyx-input-decorator" [ngClass]="{'onyx-focused': inputState.inpUrl}" style="flex:1;display:flex;align-items:center;">
      <input id="inpUrl" class="enyo-input onyx-input" style="flex:1" placeholder="Enter a URL or search term" (focus)="toggleInputState($event)" (blur)="toggleInputState($event)">
      <img draggable="false" class="enyo-image" src="assets/enyo/layout/onyx/images/search-input-search.png" style="height: 20px;width:20px;">
    </label>
    <enyo-icon-button iconUrl="assets/enyo/images/browser/menu-icon-share.png"></enyo-icon-button>
    <enyo-icon-button iconUrl="assets/enyo/images/browser/menu-icon-newcard.png"></enyo-icon-button>
    <enyo-icon-button iconUrl="assets/enyo/images/browser/menu-icon-bookmark.png"></enyo-icon-button>
  </div>

  <div class="content">
	  <img src="assets/icons/browser-256.png">
  </div>
</div>