:host {
    display: block;
    height: 100%;
    background: url('assets/enyo/images/browser/background2.png');
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.container .content {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.onyx-icon.onyx-icon-button.back {
    background-image: url('assets/enyo/images/browser/menu-icon-back.png');
}
.onyx-icon.onyx-icon-button.forward {
    background-image: url('assets/enyo/images/browser/menu-icon-forward.png');
}
.onyx-icon.onyx-icon-button.new-card {
    background-image: url('assets/enyo/images/browser/menu-icon-newcard.png');
}
.onyx-icon.onyx-icon-button.share {
    background-image: url('assets/enyo/images/browser/menu-icon-share.png');
}
.onyx-icon.onyx-icon-button.bookmark {
    background-image: url('assets/enyo/images/browser/menu-icon-bookmark.png');
}
/* TODO: This breaks the background images */
.onyx-toolbar > .onyx-icon {
    margin: 0 10px;
}