:host {
    display: block;
    height: 100%;
    background-color: #EAEAEA;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.container > .app-header {
    padding: 2px 10px;
}
.container > .app-header > .icon {
    height: 32px;
    width: 32px;
}
.container .content {
    flex: 1;
    box-sizing: border-box;
    padding: 10px;
    overflow-y: auto;
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
}

.container .content > .row {
    padding: 10px 0;
    border-bottom: 1px solid rgba(0,0,0,.12);
    display: flex;
    align-items: center;
}
.container .content > .row :first-child{
    padding-top: 0px;
}
.container .content > .row .icon {
    height: 32px;
    width: 32px;
    margin-right: 10px;
}
.container .content > .row .info {
    flex: 1;
}
.container .content > .row .title {
    font-size: 1.2em;
    font-weight: bold;
}
.container .content > .row .username {
    font-size: .85em;
    opacity: .78;
}