<div class="enyo-unselectable" class="container">
  <div class="onyx onyx-toolbar onyx-toolbar-inline app-header">
    <img class="icon" src="assets/icons/backup-64.png">
    Backup
    <enyo-toggle-button style="float:right" [isActive]="true"></enyo-toggle-button>
  </div>
  <div class="content">
    <p>
      Last backup<br>
      12/30/2016 10:43 PM
    </p>
    <p>
      Your Palm webOS Account and other personal data (including potentially sensitive data that may be provided during the use of the device and its features) are backed up automatically every day. This data is stored on secured servers and used solely for recovery purposes.
    </p>
    <p>
      Visit <a href="#">Using Backup</a> for additional details.
    </p>
  </div>
  <div>
    <enyo-button label="Back Up Now" style="width: 100%"></enyo-button>
  </div>
</div>