<div id="container" class="container" #container (mouseup)="goToHeadingInContainer()" (scroll)="logScroll($event)">
	<div class="panel" *ngFor="let panel of panels; let i = index;" id="{{'panel'+i}}">
		<div class="header">
			<img src="assets/ui/arrow-left.png">
			<div class="panel-title">
				{{panel.title}}
			</div>
			<img src="assets/ui/arrow-right.png">
		</div>
		<div class="apps-container" *ngIf="isReady">
			<div class="apps">
				<div *ngFor="let app of panel.apps" class="app">
					<img [src]="app.iconUrl">
					<div class="title">{{app.title}}</div>
				</div>
			</div>
		</div>
	</div>
</div>
