/* You can add global styles to this file, and also import other style files */

body { 
	font-family: 'Segoe UI', Helvetica, Arial, sans-serif;
	font-weight: 400;
	/*color: rgba(255,255,255,.7);*/
	color: rgba(0,0,0,.88);
	padding: 0px;
	margin: 0px;
	background-color: #eaeaea;
	background-image: url('assets/wallpaper2.jpg');
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 100vh;
	overflow: hidden;
}

/* App Launcher */
app-launcher {
	transition: 300ms;
}
app-launcher.hidden {
	transform: translateY(100vh);
}

/* App Card */

app-card {
	transition: 2000ms;
	transform: translateX(0);
}
app-card .move {
	transform: translateX(-1000vw);
}

/*app-card:nth-child(1).move {
	transform: translateX(-1000vw);
}
app-card:nth-child(2).move {
	transform: translateX(-1000vw);
}
app-card:nth-child(3).move {
	transform: translateX(-1000vw);
}
app-card:nth-child(4).move {
	transform: translateX(-1000vw);
}
app-card:nth-child(5).move {
	transform: translateX(-1000vw);
}
app-card:nth-child(6).move {
	transform: translateX(-1000vw);
}
app-card:nth-child(7).move {
	transform: translateX(-1000vw);
}
app-card:nth-child(8).move {
	transform: translateX(-1000vw);
}
app-card:nth-child(9).move {
	transform: translateX(-1000vw);
}

/* TODO: Find a better way to manage these scrollbars */
::-webkit-scrollbar {
    width: 0px;
}