<!DOCTYPE html>
<html lang="en">
<head>
  <base href="<%= APP_BASE %>">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!--<title><%= APP_TITLE %></title>-->
  <title>CardsOS</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="manifest" href="manifest.json">
  <meta name="mobile-web-app-capable" content="yes">
  <!--<link rel="icon" sizes="256x256" href="assets/icon-256.png">
  <link rel="icon" sizes="128x128" href="assets/icon-128.png">-->
  <link rel="icon" href="assets/favicon.ico">
  <!-- inject:css -->
  <!-- endinject -->
  <script src="/assets/misc/scrollsnap-polyfill.bundled.js"></script>
</head>
<body>

  <my-app>
    <div style="text-align: center; margin: 15px;">Loading...</div>
  </my-app>

  <script>
  // Fixes undefined module function in SystemJS bundle
  function module() {}
  </script>

  <!-- shims:js -->
  <!-- endinject -->

  <% if (ENV === 'dev') { %>
  <script>
    System.config(<%=
      JSON.stringify(SYSTEM_CONFIG, null, 2)
    %>)
  </script>
  <% } %>

  <!-- libs:js -->
  <!-- endinject -->

  <!-- inject:js -->
  <!-- endinject -->

  <% if (ENV === 'dev') { %>
  <script>
  System.import('<%= BOOTSTRAP_MODULE %>')
    .catch(function (e) {
      console.error(e,
        'Report this error at https://github.com/mgechev/angular2-seed/issues');
    });
  </script>
  <% } %>

  
</body>
</html>
